:root {
  font-family: 'Roboto', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

.section-title {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #a92b04;

  @include media(desktop) {
    font-size: 36px;
  }
}
