.about-section {
  padding-top: 0;
  padding-bottom: 74px;
  scroll-margin-top: 120px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.about-title {
  margin-bottom: 28px;
}

.about-content-wrapper {
  @include media(desktop) {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
  }
}

.about-img-wrapper {
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;

  @include media(desktop) {
    max-width: 630px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.about-text-container {
  @include media(desktop) {
    max-width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.about-text-pic-wrapper {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: end;
    align-items: start;
  }
}

.about-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3a291a;

  @include media(desktop) {
    max-width: 630px;
  }
}

.about-cube-img {
  margin-left: -8px;
}
