.advantages-section {
  padding-top: 0;
  padding-bottom: 80px;
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 70px;
    padding-bottom: 150px;
    // background-image: url(../img/advantages/advantages-ladder.png);
    // background-repeat: no-repeat;
    // background-position: bottom 96px center;
    // background-size: 118px 234px;
  }
}

.advantages-container {
}

.advantages-title {
  margin-bottom: 28px;

  @include media(desktop) {
    margin-bottom: 34px;
  }
}

.advantages-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }
}

.advantages-img {
  margin-bottom: 22px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.advantages-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.advantages-item-img {
}

.advantages-item-text-wrapper {
}

.advantages-item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #a92b04;
  margin-bottom: 12px;
}

.advantages-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3a291a;
}

.advantages-ladder-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: -54px;
    left: 50%;
    transform: translateX(-50%);
  }
}
