.advantages-section {
  padding-top: 0;
  padding-bottom: 80px;
  scroll-margin-top: 120px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.advantages-title {
  margin-bottom: 28px;

  @include media(desktop) {
    margin-bottom: 34px;
  }
}

.advantages-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages-img-wrapper {
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;

  @include media(desktop) {
    max-width: 630px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.advantages-list-container {
  @include media(desktop) {
    max-width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.advantages-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.advantages-item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #a92b04;
  margin-bottom: 12px;
}

.advantages-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3a291a;
}

.advantages-ladder-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: -54px;
    left: 50%;
    transform: translateX(-50%);
  }
}
