.cookie-banner-section {
  background: #3a291a;
  width: 100%;
  max-width: 375px;
  padding: 38px 16px 50px 16px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: none;

  @include media(desktop) {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding: 20px 15px 20px 34px;
  }
}

.cookie-banner-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #b9d466;
  margin-bottom: 24px;

  @include media(desktop) {
    max-width: 595px;
    margin-bottom: 0;
  }
}

.cookie-banner-buttons {
  padding: 0 23px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    padding: 0px 0px 0px 0px;
    gap: 26px;
  }
}

.cookie-accept-btn {
  border-radius: 40px;
  padding: 24px 48px;
  background: #b9d466;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #3a291a;

  @include media(desktop) {
    padding: 24px 77px;
  }
}

.cookie-decline-btn {
  border: 1px solid #b9d466;
  border-radius: 40px;
  padding: 24px 48px;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #b9d466;

  @include media(desktop) {
    padding: 24px 75px;
  }
}

.show-cookie-banner {
  display: block;

  @include media(desktop) {
    display: flex;
  }
}
