.faq-section {
  padding-top: 0px;
  padding-bottom: 80px;
  scroll-margin-top: 120px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.faq-title {
  margin-bottom: 28px;

  @include media(desktop) {
    margin-bottom: 34px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.faq-list-item {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  width: 100%;

  @include media(desktop) {
    max-width: 846px;
  }
}

.faq-top-text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.faq-toggle-symbol {
  border-radius: 100%;
  border: 1px solid #3a291a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.faq-icon {
  fill: #3a291a;
}

.faq-btn-text {
  border-radius: 4px;
  padding: 12px 18px;
  width: 100%;
  background: #3a291a;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #b9d466;
  text-align: left;

  @include media(desktop) {
    max-width: 792px;
  }
}

.faq-bottom-text {
  border: 1px solid #3a291a;
  border-radius: 4px;
  padding: 12px 18px;
  max-width: 335px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3a291a;
  display: none;

  @include media(desktop) {
    max-width: 792px;
    margin-left: auto;
  }
}

.is-visible {
  display: block;
  opacity: 1;
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}
