.features-bg-wrapper {
  @include media(desktop) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/features/features-green-desk.png);
    background-repeat: no-repeat;
    background-position: top 405px right 0;
    background-size: 354px 369px;
  }
}

.features-section {
  padding-top: 0px;
  padding-bottom: 80px;
  scroll-margin-top: 120px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.features-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-container {
  padding-left: 0;
  padding-right: 0;
}

.features-title {
  margin-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    margin-bottom: 34px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.features-swiper-container {
  max-width: 305px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-swiper-container.show {
  visibility: visible;
}

.features-slide {
  border-radius: 4px;
  background-color: #b9d466;
  padding: 28px 22px;
  max-width: 305px;
  height: 317px !important;
}

.features-circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.features-subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #a92b04;
  margin-bottom: 14px;
}

.features-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3a291a;
  word-break: break-word;
}

.features-controls {
  display: none;

  @include media(desktop) {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
}
