.footer {
  background: #a92b04;
  padding-top: 20px;
  padding-bottom: 16px;

  @include media(desktop) {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

.footer-container {
  padding-left: 180px;
  padding-right: 180px;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #b9d466;

  @include media(desktop) {
    text-align: center;
  }
}

.footer-nav {
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 18px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  color: #b9d466;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: #caf903;
  }
}
