.gallery-section {
  padding-bottom: 58px;
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 80px;
    padding-bottom: 150px;
  }
}

.gallery-background-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-container {
  padding-left: 0;
  padding-right: 0;
}

.gallery-title {
  margin-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    margin-bottom: 34px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.gallery-swiper-container {
  max-width: 305px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-slide {
  border-radius: 4px;
  overflow: hidden;
}

.gallery-img {
  border-radius: 4px;
  overflow: hidden;
  width: 305px;
  height: 543px;
  object-fit: cover;
}

.gallery-controls {
  display: none;

  @include media(desktop) {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
}

.arrow-btn {
  transition: transform 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    // transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      // transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
