body {
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 375px 820px;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1440px 820px;
  }
}

.header-bg-wrapper {
  @include media(desktop) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/hero/hero-green-desk.png);
    background-repeat: no-repeat;
    background-position: top 820px left 0;
    background-size: 250px 261px;
  }
}

.header {
  padding-top: 42px;
  padding-bottom: 22px;
  position: fixed;
  max-width: 376px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 375px auto;

  @include media(desktop) {
    padding-top: 38px;
    padding-bottom: 38px;
    background-image: url(../img/hero/hero-bg-desk.png);
    background-size: 1440px auto;
    max-width: 1440px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    display: block;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.nav-list-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #3a291a;

  &:hover,
  &.active {
    color: #a92b04;
  }
}

.nav-list-link.active {
  color: #a92b04;
}

.nav-btn {
  background-color: transparent;
  width: 48px;
  height: 48px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 48px;
  height: 48px;

  @include media(desktop) {
    display: none;
  }
}

.menu-open-bg {
  background: $_main_bg_color;
}
