.hero-section {
  padding-top: 239px;
  padding-bottom: 287px;
  // background-image: url(../img/hero/hero-tablet-mob.png),
  // url(../img/hero/hero-bg-mob.jpg);
  // background-repeat: no-repeat, no-repeat;
  // background-position: center bottom, center;
  // background-size: 375px 386px, cover;
  scroll-margin-top: 60px;

  @include media(desktop) {
    padding-top: 171px;
    padding-bottom: 186px;
    // background-image: url(../img/hero/hero-bg-desk.jpg);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    scroll-margin-top: 60px;
  }
}

.hero-container {
  padding-left: 18px;
  padding-right: 18px;

  @include media(desktop) {
    padding-left: 120px;
  }
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
  }
}

.hero-img {
  margin-bottom: 0px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }
}
