.hero-section {
  padding-top: 239px;
  padding-bottom: 367px;
  scroll-margin-top: 60px;

  @include media(desktop) {
    padding-top: 171px;
    padding-bottom: 336px;
    scroll-margin-top: 60px;
  }
}

.hero-container {
  padding-left: 18px;
  padding-right: 18px;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 14px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }
}
