.context-menu {
  display: none;
  backdrop-filter: blur(24px);
  background: #c0eefe;
  padding: 49px 0px 70px 61px;
  border-bottom: 2px solid #260036;
  max-width: 375px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: left;
}

.context-list-link {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #260036;
  transition: all 0.3s ease-in-out;

  &:active {
    color: $_white_text_color;
  }
}

.is-open {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
