.context-menu {
  display: none;
  background: $_main_bg_color;
  padding: 106px 112px 0 112px;
  max-width: 376px;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  top: 104px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-image: url(../img/menu/menu-bg.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: 231px 229px;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  gap: 38px;
  text-align: left;
}

.context-list-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #3a291a;
  transition: all 0.3s ease-in-out;

  &:active {
    color: #a92b04;
  }
}

.is-open {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
