.privacy-body .header {
  background: $_main_bg_color;
}

.policy-section {
  padding-top: 118px;
  background: $_main_bg_color;
  padding-top: 140px;
  padding-bottom: 58px;

  @include media(desktop) {
    padding-top: 105px;
    padding-bottom: 100px;
  }
}

.policy-container {
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.policy-title {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #a92b04;
  margin-bottom: 28px;

  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 34px;
  }
}

.policy-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3a291a;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.policy-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #3a291a;
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.empty-row::after {
  content: '';
  display: block;
  height: 1em;
}

.support-link {
  word-wrap: break-word;
}
