<section class="about-section" id="about">
  <div class="container about-container">
    <h2 class="about-title section-title">About the Game</h2>
    <div class="about-content-wrapper">
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="630"
          height="322"
        />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="375"
          height="322"
        />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="322"
        />
      </picture>
      <div class="about-text-wrapper">
        <p class="about-text">
          <b>MergeCraft: Mine and Build</b> is an addictive merging game where
          players combine resources, craft powerful tools, and construct their
          dream world. Merge materials, unlock new structures, and create your
          own pixel kingdom in this engaging and relaxing experience!
        </p>
        <div class="about-text-pic-wrapper">
          <img
            src="./img/about/about-cube-desk.png"
            alt="Cube"
            width="177"
            height="178"
          />
          <img
            class="about-cube-img"
            src="./img/about/about-small-cube-desk.png"
            alt="Cube"
            width="125"
            height="122"
          />
        </div>
      </div>
    </div>
  </div>
</section>
