<section class="advantages-section" id="advantages">
  <div class="container advantages-container">
    <h2 class="advantages-title section-title">Advantages</h2>
    <div class="advantages-content-wrapper">
      <picture>
        <source
          srcset="./img/advantages/advantages-bg-desk.png"
          media="(min-width: 1440px)"
          width="630"
          height="322"
        />
        <source
          srcset="./img/advantages/advantages-bg-mob.png"
          width="375"
          height="322"
        />
        <img
          class="advantages-img"
          src="./img/advantages/advantages-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="322"
        />
      </picture>
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <img
            class="advantages-item-img"
            src="./img/advantages/advantages-img1.png"
            alt="Picture of cube"
            width="53"
            height="55"
          />
          <div class="advantages-item-text-wrapper">
            <h3 class="advantages-item-title">Relaxing Yet Engaging</h3>
            <p class="advantages-item-text">
              Merge gameplay is easy to learn but highly rewarding.
            </p>
          </div>
        </li>
        <li class="advantages-list-item">
          <img
            class="advantages-item-img"
            src="./img/advantages/advantages-img2.png"
            alt="Picture of cube"
            width="53"
            height="55"
          />
          <div class="advantages-item-text-wrapper">
            <h3 class="advantages-item-title">Endless Creativity</h3>
            <p class="advantages-item-text">
              Build anything from simple huts to grand fortresses.
            </p>
          </div>
        </li>
        <li class="advantages-list-item">
          <img
            class="advantages-item-img"
            src="./img/advantages/advantages-img3.png"
            alt="Picture of cube"
            width="53"
            height="55"
          />
          <div class="advantages-item-text-wrapper">
            <h3 class="advantages-item-title">No Time Limits</h3>
            <p class="advantages-item-text">
              Play at your own pace and enjoy stress-free merging.
            </p>
          </div>
        </li>
        <li class="advantages-list-item">
          <img
            class="advantages-item-img"
            src="./img/advantages/advantages-img4.png"
            alt="Picture of cube"
            width="53"
            height="55"
          />
          <div class="advantages-item-text-wrapper">
            <h3 class="advantages-item-title">Offline Mode Available</h3>
            <p class="advantages-item-text">No internet? No problem!</p>
          </div>
        </li>
      </ul>
      <img
        class="advantages-ladder-img"
        src="./img/advantages/advantages-ladder.png"
        alt="Ladder"
        width="118"
        height="234"
      />
    </div>
  </div>
</section>
