<section class="features-section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="features-title section-title">Game Features</h2>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <div class="features-slide-wrapper">
              <div class="features-circle-wrapper">
                <img
                  src="./img/features/features-img1.png"
                  alt="Features picture"
                  width="157"
                  height="157"
                />
              </div>
              <h2 class="features-subtitle">Merge & Upgrade</h2>
              <p class="features-text">
                Combine materials to create advanced tools and structures.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-slide-wrapper">
              <div class="features-circle-wrapper">
                <img
                  src="./img/features/features-img2.png"
                  alt="Features picture"
                  width="157"
                  height="157"
                />
              </div>
              <h2 class="features-subtitle">Build Your World</h2>
              <p class="features-text">
                Construct houses, castles, and even entire cities.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-slide-wrapper">
              <div class="features-circle-wrapper">
                <img
                  src="./img/features/features-img3.png"
                  alt="Features picture"
                  width="157"
                  height="157"
                />
              </div>
              <h2 class="features-subtitle">Mine Resources</h2>
              <p class="features-text">
                Gather essential blocks like wood, stone, and gold.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-slide-wrapper">
              <div class="features-circle-wrapper">
                <img
                  src="./img/features/features-img4.png"
                  alt="Features picture"
                  width="157"
                  height="157"
                />
              </div>
              <h2 class="features-subtitle">Unlock Rare Items</h2>
              <p class="features-text">
                Discover legendary resources and secret recipes.
              </p>
            </div>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-slide-wrapper">
              <div class="features-circle-wrapper">
                <img
                  src="./img/features/features-img5.png"
                  alt="Features picture"
                  width="157"
                  height="157"
                />
              </div>
              <h2 class="features-subtitle">Casual & Addictive</h2>
              <p class="features-text">
                Simple mechanics with deep strategic possibilities.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="features-controls">
        <button
          class="arrow-btn"
          id="featuresLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="featuresRightArrow"
          aria-label="Next slide"
        >
          <svg class="right-arrow-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
