<section class="gallery-section" id="gallery">
  <div class="gallery-background-wrapper">
    <div class="container gallery-container">
      <h2 class="gallery-title section-title">Gallery</h2>
      <div class="gallery-swiper-container">
        <ul class="swiper-wrapper gallery-swiper-wrapper">
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img1.png"
              alt="Screenshot of game"
              width="305"
              height="543"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img2.png"
              alt="Screenshot of game"
              width="305"
              height="543"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img3.png"
              alt="Screenshot of game"
              width="305"
              height="543"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img4.png"
              alt="Screenshot of game"
              width="305"
              height="543"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img5.png"
              alt="Screenshot of game"
              width="305"
              height="543"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="gallery-controls">
        <button
          class="arrow-btn"
          id="galleryLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="galleryRightArrow"
          aria-label="Next slide"
        >
          <svg class="right-arrow-icon" width="42" height="42">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
