<section class="hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-content-wrapper">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="749"
          height="379"
        />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="336"
          height="200"
        />
        <img
          class="hero-img"
          src="./img/hero/hero-title-mob.png"
          alt="Logo"
          width="336"
          height="200"
          fetchpriority="high"
          decoding="async"
        />
      </picture>
      <a
        class="hero-btn"
        href="#"
        rel="noopener noreferrer"
        title="Download the game Jewel Blaze Kingdom on Google Play"
        aria-label="Download the game Jewel Blaze Kingdom on Google Play"
      >
        <svg class="google-icon" width="244" height="70">
          <use href="./img/sprite.svg#icon-google-play"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
