<section class="hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-content-wrapper">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="484"
          height="284"
        />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="336"
          height="200"
        />
        <img
          class="hero-img"
          src="./img/hero/hero-title-mob.png"
          alt="Logo"
          width="336"
          height="200"
        />
      </picture>
      <a
        class="hero-btn"
        href="#"
        rel="noopener noreferrer"
        title="Download the game Jewel Blaze Kingdom on Google Play"
        aria-label="Download the game Jewel Blaze Kingdom on Google Play"
      >
        <img
          src="./img/hero/hero-btn-mob.png"
          alt="Download button"
          width="179"
          height="80"
        />
      </a>
    </div>
  </div>
</section>
